.btn_ {
  --btn-background: theme("colors.default");
  --btn-light-color: theme("colors.default-800");
  --btn-hover-bg: theme("colors.default-300");
  --btn-color: theme("colors.default-800");
  --btn-hover-color: theme("colors.default-800");
  --btn-height: theme("height.10");
  --btn-font-size: theme("fontSize.small");
  --btn-radius: theme("borderRadius.medium");
  --btn-badge-size: 1.5em;
  background: var(--btn-background);
  color: var(--btn-color);
  height: var(--btn-height);
  font-size: var(--btn-font-size);
  border-radius: var(--btn-radius);
  @apply px-4  inline-flex select-none items-center justify-center transition-all cursor-pointer appearance-none relative whitespace-nowrap;
}
.btn_:disabled, .btn_.btn_disabled {
  @apply pointer-events-none opacity-60;
}
.btn_:hover {
  @apply opacity-hover;
}
.btn_.btn_icon {
  width: var(--btn-height);
  @apply p-0;
}
.btn_.btn_ti {
  @apply gap-2;
}
.btn_.btn_ti svg {
  @apply w-4 h-4;
}
.btn_.btn_full {
  @apply flex w-full;
}
.btn_.btn_primary {
  --btn-background: theme("colors.primary");
  --btn-light-color: theme("colors.primary");
  --btn-hover-bg: hsl(var(--nexlink-primary) / .2);
  --btn-color: theme("colors.primary-foreground");
  --btn-hover-color: theme("colors.white");
  @apply shadow-primary/40;
}
.btn_.btn_danger {
  --btn-background: theme("colors.danger");
  --btn-light-color: theme("colors.danger");
  --btn-hover-bg: hsl(var(--nexlink-danger) / .2);
  --btn-color: theme("colors.danger-foreground");
  --btn-hover-color: theme("colors.white");
  @apply shadow-danger/40;
}
.btn_.btn_secondary {
  --btn-background: theme("colors.secondary");
  --btn-light-color: theme("colors.secondary");
  --btn-hover-bg: hsl(var(--nexlink-secondary) / .2);
  --btn-color: theme("colors.secondary-foreground");
  --btn-hover-color: theme("colors.white");
  @apply shadow-secondary/40;
}
.btn_.btn_warning {
  --btn-background: theme("colors.warning");
  --btn-light-color: theme("colors.warning");
  --btn-hover-bg: hsl(var(--nexlink-warning) / .2);
  --btn-color: theme("colors.warning-foreground");
  --btn-hover-color: theme("colors.white");
  @apply shadow-warning/40;
}
.btn_.btn_success {
  --btn-background: theme("colors.success");
  --btn-light-color: theme("colors.success");
  --btn-hover-bg: hsl(var(--nexlink-success) / .2);
  --btn-color: theme("colors.success-foreground");
  --btn-hover-color: theme("colors.white");
  @apply shadow-success/40;
}
.btn_.btn_bordered {
  border-color: var(--btn-background);
  color: var(--btn-background);
  background-color: transparent;
  @apply border-medium;
}
.btn_.btn_light {
  color: var(--btn-light-color);
  background-color: transparent;
}
.btn_.btn_light:hover {
  background-color: var(--btn-hover-bg);
}
.btn_.btn_flat {
  color: var(--btn-background);
  background-color: var(--btn-hover-bg);
}
.btn_.btn_ghost {
  border-color: var(--btn-background);
  color: var(--btn-background);
  background-color: transparent;
  @apply border-medium;
}
.btn_.btn_ghost:hover {
  background-color: var(--btn-background);
  color: var(--btn-color);
}
.btn_.btn_shadow {
  @apply shadow-lg shadow-content1;
}
.btn_.btn_sm {
  --btn-radius: theme("borderRadius.small");
  --btn-height: theme("height.8");
  --btn-font-size: theme("fontSize.tiny");
  @apply px-3;
}
.btn_.btn_lg {
  --btn-radius: theme("borderRadius.large");
  --btn-height: theme("height.12");
  --btn-font-size: theme("fontSize.medium");
  @apply px-6;
}
.btn_.btn_rounded_full {
  --input-radius: theme("borderRadius.full");
}
.btn_.btn_rounded_lg {
  --input-radius: theme("borderRadius.large");
}
.btn_.btn_rounded_md {
  --input-radius: theme("borderRadius.medium");
}
.btn_.btn_rounded_sm {
  --input-radius: theme("borderRadius.small");
}
.btn_.btn_rounded_none {
  --input-radius: theme("borderRadius.none");
}

/*# sourceMappingURL=index.css.map */
