@tailwind base;
@tailwind components;
@tailwind utilities;


.dark{
    color-scheme: dark;
}

html{
    padding: 0;
    overflow-y: scroll;
}
body{
    font-size:15px;
}

.b-grid{
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
}
.b-grid-gradiant{
    z-index: 3;
    width: 100%;
    max-width: 640px;
    background-image: radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 0%), radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%), radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%), radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%), radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%), radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%), radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: absolute;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 200px;
    opacity: 0.06;
}
